<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mkruz.shoppinglist.feature">
    <permission android:name="pl.edu.pja.smb.MY_PERMISSION" android:protectionLevel="normal" />
    <application>
        <activity
            android:name=".MainActivity"
            android:label="@string/list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/item_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mkruz.shoppinglist.feature.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mkruz.shoppinglist.feature.MainActivity" />
        </activity>
        <provider android:name=".DataProvider"
            android:authorities="com.example.mkruz.shoppinglist.feature.dataprovider.provider"
            android:multiprocess="true"
            android:exported="true" />
    </application>

    <!--android:readPermission="com.example.mkruz.shoppinglist.feature.DataProvider.PERMISSION"
    android:writePermission="com.example.mkruz.shoppinglist.feature.DataProvider.PERMISSION"-->
</manifest>